// 商品详情页details


#pageWarp {
    width: 500px;
    margin: 15px auto;
    height: 40px;
    #btnL {
        line-height: 40px;
        cursor: pointer;
        float: left;
    }
    #btnR {
        line-height: 40px;
        cursor: pointer;
        float: right;
    }
    ul {
        height: 40px;
        margin: 0 auto;
        float: left;
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
        li {
            float: left;
            width: 24px;
            height: 24px;
            text-align: center;
            line-height: 24px;
            border-radius: 6px;
        }
    }
}
.active {
    border: 1px solid #e73839;
    background-color: #e73839;
    color: #fff;
}

// 商品详情页 end
