// 注册页
.reg_logo{
                padding: 25px 0;
                height: 60px;
                float: left;
                width: 370px;
                position: relative;
                a{
                    display: block;
                    width: 260px;
                    height: 60px;
                    background: url(../static/imgs/login-logo.png) 50% no-repeat ;
                }
                span{
                    position: absolute;
                    right: 0;
                    line-height: 50px;
                    font-family: "microsoft yahei";
                    font-size: 20px;
                    top: 35px;
                }
            }
            
            .reg_ready{
                text-align: right;
                line-height: 35px;
                top: 6px;
            }
            .reg_ready a{
                height: 20px;
                line-height: 20px;
                padding: 0 5px;
                margin-left: 5px;
                border-radius: 3px;
                background: red;
                color: #fff;
                display: inline-block;
            }
            .reg_box_all{
                border: 1px solid #ccc;
                padding: 40px;
                overflow: hidden;
                background: #FCFCFC;
                position: relative;
                /* height: 425px; */
            }
            .cart_login{
                width: 365px;
                height: 285px;
                background: url(../static/imgs/cart-login.jpg) top no-repeat;
                display: block;
                position: absolute;
                top: 90px;
                right: -20px;
                z-index: 6;
            }
            .reg_box{
                overflow: hidden;
            }
            .reg_item{
                margin-bottom: 10px;
                position: relative;
                font-family: "微软雅黑";
            }
            .reg_span{
                font-size: 14px;
                line-height: 42px;
                width: 145px;
                text-align: right;
                margin-right: 15px;
                display: inline-block;
            }
            .reg_span span{
                color: red;
                vertical-align: middle;
            }
            .input{
                width: 300px;
                border: 1px solid #ccc;
                height: 20px;
                line-height: 20px;
                padding: 10px;
            }
            .reg_xy{
                margin-left: 165px;
                height: 24px;
                line-height: 24px;
            }
            .reg_xy>input{
                margin-right: 5px;
                vertical-align: middle;
            }
            .reg_xy>a{
                color: #06c;
            }
            .reg_btn{
                cursor: pointer;
                width: 223px;
                height: 32px;
                background: #E63C3F;
                margin: 10px 0;
                display: block;
                font-size: 18px;
                color: #fff;
                margin-left: 165px;
            }
            /* 特效 */
            .input:focus{
                border: 1px solid #8ED200;
            }
            .reg_btn:hover{
                background: #FF0000;
            }
// 注册页 end